#Build

*.[oa]
*.ko
*.obj
*.elf
*.dll
*.def
*.so
*.dylib
tags
build/

#Editor

*.gch
*.pch
*~
*.swp

#Config

config.mk
.xmake/

#Test

test/test-*

# OS

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
