#Build

*.[oa]
*.ko
*.obj
*.elf
*.dll
*.def
*.so
*.dylib
*.l[oa]
*-*.*.*.tar.gz
tags
build/
.libs/

#Editor

*.gch
*.pch
*~
*.swp

#Config

.xmake/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
src/.deps
src/Makefile
src/.dirstamp

#Test

test/test-*

# OS

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
